<script id="rcs-templte-main" type="rcs/templte">
	<!--#include file="imMain.html"-->
</script>

<script id="rcs-templte-chat" type="rcs/templte">
	<!--#include file="chat.html"-->
</script>

<script id="rcs-templte-message" type="rcs/templte">
	<!--#include file="imMessage.html"-->
</script>

<script id="rcs-templte-message-template" type="rcs/templte">
	<!--#include file="imMessageTemplate.html"-->
</script>

<script id="rcs-templte-imageView" type="rcs/templte">
	<!--#include file="imageView.html"-->
</script>
